---
import { Image } from "astro:assets";
const { url, title, loading } = Astro.props;

const encoded_url = encodeURIComponent(url);
let URL = `https://t.me/share/url?url=${encoded_url}&title=${title}`

import Tele from '@assets/share/telegram.png'
---
<a class="social-share-btn" target="_blank" href={URL} rel="noopener noreferrer">
  <Image loading={loading} src={Tele} alt="Tele" class="w-8 h-auto hover:scale-125 transition-all duration-500" />
</a>