---
import { Image } from "astro:assets";
const { url, description, via} = Astro.props;

let URL = `https://x.com/intent/tweet?url=${url}`

if (description) URL += `&text=${description}`
if (via) URL += `&via=${via}`

import Twit from '@assets/share/twitter.png'
---
<a class="social-share-btn" target="_blank" href={URL} rel="noopener noreferrer">
  <Image src={Twit} alt="Twitter" class="w-8 h-auto hover:scale-125 transition-all duration-500" />
</a>