---
const { post } = Astro.props;

const date = new Date(post.date);
const year = date.getFullYear();
const month = date.toLocaleString('en-US', { month: 'short' });
const day = date.getDate();
const formattedDate = `${day} ${month}`;

const categories = post.categories?.nodes.map((cat: { name: any; }) => cat.name).join(', ') || 'Uncategorized';

import { Image } from "astro:assets"
---
<a href={`/blog/${post.slug}/`} class="group bg-gradient-to-t from-primary to-secondary hover:from-primary/90 hover:to-secondary relative rounded-2xl border" data-aos="fade-up" data-aos-duration="1000">
  <div class='relative p-2 text-white flex flex-col justify-between py-6 h-full'>
    <div class='p-2 flex flex-col justify-between h-full'>
      <Image src={post.featuredImage?.node?.sourceUrl || 'https://placehold.co/550x300?text=No+Feaured+Image'} alt={post.featuredImage?.node?.altText || post.title} class="max-w-full h-auto rounded-t-lg" width={550} height={300} />
      <h2 class='text-xl inline-block px-2 font-bold pt-2 text-slate-200 mb-1 transition-all duration-500 ease-in-out relative after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 dark:after:bg-white after:bg-transparent after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] group-hover:after:origin-bottom-left group-hover:after:scale-x-100'>
        {post.title}
      </h2>
      <span class='text-sm text-gray-300 px-2 pb-3' set:html={post.excerpt.slice(0, 115)+"...."}></span>
    </div>
    <div class="flex flex-row text-sm justify-between px-4 pb4">
      <time datetime={post.date}>{formattedDate}, {year}</time>
      <span>{categories}</span>
    </div>
  </div>
</a>