---
const { frontmatter } = Astro.props;
import Head from "@comps/head.astro"
import Header from "@comps/header.astro"
import Footer from "@comps/footer.astro"
import Mcan from '@comps/mcan.tsx';
import { Schema } from "astro-seo-schema"
import { NAME, WEBSITE } from '@consts/consts';
---
<!doctype html>
<html lang="en" class="overflow-x-hidden">
	<Head sitetitle={frontmatter.title}> 
		<title>{frontmatter.title}</title>

		<meta property="og:title" content={frontmatter.title} />
		<meta property="og:type" content="article" />
		<meta property="og:description"  content="Sean Connery found fame and fortune as the suave, sophisticated British agent, James Bond." />
		<meta property="og:determiner" content="the" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content={frontmatter.title} />
		<meta property="og:image" content={frontmatter.image.src} />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:alt" content={frontmatter.imagealt} />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={frontmatter.url}>
		<meta name="twitter:title" content={frontmatter.title}>
		<meta name="twitter:description" content={frontmatter.description}>
		<meta name="twitter:image" content={frontmatter.image.src}>
		
		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "Article",
				headline: frontmatter.title,
				description: frontmatter.description,
				image: frontmatter.image.src,
				datePublished: frontmatter.date,
				dateModified: frontmatter.date,
				keywords: frontmatter.tags,
				author: {
					"@type": "Person",
					name: NAME,
					url: WEBSITE,
				},
				mainEntityOfPage: {
					"@type": "WebPage",
					"@id": WEBSITE,
				},
			}}
		/>
	</Head>
	<body class="bg-base-100">
		<Mcan client:load />
		<Header />
		    <section class="pt-24 grid grid-cols-1 md:grid-cols-12 px-6 gap-8">
                <slot />
            </section>
		<Footer />
	</body>
</html>
